@import url(../docs/theme/styles.css);
@import url(../docs/reset/styles.css);
@import url(../docs/base/styles.css);

@import url(../docs/layout/styles.css);

@import url(../docs/header/styles.css);
@import url(../docs/main/styles.css);
@import url(../docs/menu/styles.css);
@import url(../docs/footer/styles.css);
@import url(../docs/card/styles.css);
@import url(../docs/copy/styles.css);
.footer {
   align-items: center; 
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
    background-color: rgb(116, 116, 226) ;
}
.link-area{
    display: flex;
    flex-direction: row;
}
.footer-img {
    width: 50px;
    margin: auto;
    padding: 1em 0 0;
    display: flex;
 



}
