/* Read about resets on CSS Tricks, A List Apart, and Josh Comeau
https://www.joshwcomeau.com/css/custom-css-reset/ */

/* What does this rule do? Try removing it. */
* {
  box-sizing: border-box;
}
/* What about this one? 
Make a prediction first and then find and uncheck this rule in Devtools */
body,
html {
  padding: 0;
  margin: 0;
}
ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
