body {
text-align: center;
display: flex;
align-items: center;
background-color: silver;
}

p {
size: 16px;
font-style: italic;
}

li {
text-align: : center;
display: flex;
align-items: center;
}






